@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .login-flex {
    flex-direction: column;
  }
  .flex-box {
    width: 90%;
    margin: 0 auto;
  }
  .ImgLogo {
    width: 80%;
    margin: 0 auto;
  }
  .image-el {
    height: 500px;
  }
}
@media (max-width: 480px) {
  .titleH2 {
    font-size: 23px;
  }
  .filterH2 {
    font-size: 25px;
  }
  .someH{
    font-size: 20px;
    line-height: 25px;
  }
}
